:root{
    --w-brand: #ea8011;
    --w-brand-hover: #e54f00;
    --w-main: #d3d3d3;
    --w-sub: #999;
    --w-hover: rgba(234,128,17,0.1);
    --w-contrast: #e5e5e5;
    --w-error: #d70000;
    --w-fonticon: #b2b2b2;
    --w-disabled: #939393;
    --w-alink: #d36747;
    --w-special: #ca3a1f;
    --w-retweet-background: #111114;
    --w-repost-background: #25252c;
    --w-card-background: #16161a;
    --w-input-background: #25252c;
    --w-drop-background: #25252c;
    --w-pophover-background: #25252c;
    --w-whitebtn-background: hsla(0,0%,100%,0.2);
    --w-dividing-line: #202025;
    --w-card-border: #202025;
    --w-layer-border: #373741;
    --w-image-border: hsla(0,0%,100%,0.1);
    --w-off-border: #29292b;
    --w-off-border-new: #999;
    --w-badge-background: #e51c22;
    --w-badge-border-color: #16161a;
    --w-b-flat-default-bg: #25252c;
    --w-b-flat-default-bg-hover: #373741;
    --w-icon-skin: #16161a;
    --w-bubble-bg: rgba(209,133,10,0.98);
    --w-bubble-text: hsla(0,0%,82.7%,0.85);
    --w-bubble-text-hover: #d3d3d3;
    --frame-background: #0c0c0c;
    --weibo-top-nav-logo-color: #d3d3d3;
    --weibo-top-nav-configs-bg: #3e3e48;
    --weibo-top-nav-configs-bg-hover: #686877;
    --weibo-top-nav-configs-color: #d3d3d3;
    --weibo-top-nav-search-icon: #d3d3d3;
    --weibo-top-nav-search-bg: #3e3e48;
    --weibo-top-nav-icon-color: #d3d3d3;
    --weibo-top-nav-icon-bg-hover: #25252c;
    --weibo-top-nav-line: #202025;
    --weibo-logo-us: url(https://h5.sinaimg.cn/upload/1005/526/2021/09/09/logo_dark.png);
    --profile-tag-default-bg: #25252c;
    --comment-highlight: #25252c;
    --viewer-button-color: rgba(54,54,54,0.8);
    --viewer-button-color-hover: rgba(30,30,30,0.9);
    --feed-card-link-fliter: grayscale(100%) brightness(180%);
    --weibo-gradient-h1: linear-gradient(270deg,rgba(22,22,26,0),rgba(22,22,26,0.8) 50%,#16161a 75%,#16161a);
    --weibo-gradient-h2: linear-gradient(90deg,rgba(22,22,26,0),rgba(22,22,26,0.8) 50%,#16161a 75%,#16161a);
}
.fl{
    float: left;
}
.fr{
    float: right;
}